* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-image: url('/static/images/cloud.png');
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: rgb(16, 16, 16);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;
}

input, button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 10px;
}